.footer {
  background: #111;
  color: white;
  position: relative;
  z-index: 10;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer h2,
.footer h4 {
  margin-bottom: 10px;
}

.footer a {
  display: block;
  color: #bbb;
  text-decoration: none;
  margin: 5px 0;
  transition: 0.3s;
  gap: 20px;
}

.footer a:hover {
  color: orange;
  text-shadow: 0 0 10px #ff9a9e;
}

.footer-bottom {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #333;
  font-size: 14px;
}
